* {
	padding: 0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}

/* change scrollbar start */
html::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #1B2735;
}

html::-webkit-scrollbar {
	width: 10px;
	background-color: #1B2735;
}

html::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f1f4d8;
}
/* change scrollbar end */

#one {
	height: 100vh;
	background: radial-gradient(ellipse at center, #1B2735 0%, #090A0F 100%);
}

/* navbar menu start*/
.menu {
	display: flex;
	color:#fff;
	font-size: 20px;
	align-items: center;
}

.menu .logo {
	flex:1;
	margin:0 20px;
}

.menu .logo span {
	vertical-align: -5px;
}

.menu .right-menu {
	margin:0 20px;
	padding-top: 5px;
}

.menu .right-menu a {
	padding:5px;
	color:#fff;
	text-decoration: none;
}

.menu .right-menu a:hover {
	cursor: pointer;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.menu .right-menu a:last-child {
	border:1px solid #fff;
	border-radius: 5px;
}

.menu .right-menu a:last-child:hover {
	background-color: #f1f4d8;
	color:#1a1a1a;
}
/* navbar menu end*/

/* card start */
.card {
	position: absolute;
	top: 50%;
	left: 50%;
	color:#fff;
	text-align: center;
	transform: translate(-50%, -50%);
}

.card .card-info p {
	font-size: 60px;
	margin: 5px 0;
}

.card .card-info span {
	font-size:25px;
	color:#f1f4d8;
	word-wrap:break-word;
}
/* card end */

/* cursor start */
.blinking-cursor {
	margin-left: 1px;
	font-size: 16px;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}
@keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: white;
	}
}
@-moz-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: white;
	}
}
@-webkit-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: white;
	}
}
@-ms-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: white;
	}
}
@-o-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: white;
	}
}
/* cursor end */

/* arrow start */
.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}
.arrow {
  width: 40px;
  height: 40px;
  top: 90%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  cursor: pointer;
}
.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
/* arrow end */

/* technologies start */
#two {
	text-align: center;
	margin-bottom: 50px;
	overflow-x: hidden;
}
#two h1 {
	font-size:40px;
}
#two img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
}
/* technologies end */

/* projects start */
#three {background-color: #17202c;color:#fff; height:auto;}
#three h1 {padding-top: 40px;font-size:40px; text-align:center;}
.services {
	padding:30px;
}
figure.project {
	color: #fff;
	background-color: #1a1a1a;
	color: #ffffff;
	text-align: left;
	margin-bottom: 50px;
	width: 100%;
	border-radius: 5px;
}
figure.project * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	border-radius: 5px;
}
figure.project img {
	max-width: 100%;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	vertical-align: top;
	opacity: 0.65;
}
figure.project figcaption {
	position: absolute;
	padding: 35px 20px;
	top: 0;
	left: 0;
}
figure.project h2,
figure.project p {
	margin: 0;
	padding: 0;
}
figure.project h2 {
	margin-bottom: 10px;
	display: inline-block;
	font-weight: 100;
	font-size: 1.6em;
	text-shadow: #000 1px 1px 1px;
}
figure.project p {
	font-weight: 300;
	margin-bottom: 20px;
	font-size: 0.95em;
	text-shadow: #000 1px 1px 1px;
}
figure.project a {
	display: inline-block;
	padding: 10px 10px;
	border: 1px solid #ffffff;
	text-decoration: none;
	color: #ffffff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 0.8em;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
	opacity: 0;
}
figure.project a:hover {
	background-color: #f1f4d8;
	color:#1a1a1a;
}
figure.project:hover img,
figure.project.hover img {
	opacity: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
}
figure.project:hover a,
figure.project.hover a {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

.project_label {
	display: inline-block;
	border-radius: 5px;
	width: 40px;
	text-align: center;
	margin:0 5px 15px 0;
	color:#fff;
	text-shadow: #000 1px 1px 1px;
}
.project_label:last-child {
	margin-right: 0px;
}
/* projects end */

/* contacts start */
#four {
	text-align: center;
	margin-top: 20px;
}
#four i {
	margin:0px 10px;
	padding:10px;
	border-radius: 5px;
}
#four a {
	padding:10px 0;
}
#four .fa-vk {
	color:#fff;
	background: #45668e;
}
#four .fa-github-alt {
	color:#fff;
	background:#000;
}
#four .fa-envelope {
	color:#fff;
	background:#ca3737;
}
#copyright {
	font-size:18px;
	margin: 15px 0;
}
.fa-vk, .fa-github-alt, .fa-envelope:hover {
	cursor:pointer;
}
/* contacts end */

.avatar {
	background-image: url('../img/avatar.jpg');
	width: 170px;
	height: 170px;
	background-size: cover;
	background-position: top center;
	border-radius: 50%;
	border: 3px solid #f1f4d8;
	margin: 0 auto;
}

#arrow_up {
	position:fixed;
	z-index: 1;
	display:none;
	bottom:70px;
	right:-5px;
	cursor:pointer;
}

#arrow_up i {
	width: 50px;
	height: 50px;
	display:block;
	color: #000;
	background: #f1f4d8;
	opacity: .5;
	text-align:center;
	font-size:18px;
	line-height: 50px;
	border-radius: 5px;
	-webkit-transition:  .3s all;
		 -moz-transition:  .3s all;
			-ms-transition:  .3s all;
			 -o-transition:  .3s all;
					transition:  .3s all;
}

#arrow_up i:hover {
	opacity:inherit;
	border: 1px solid #000;
	-webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: bounce;
  animation-name: bounce;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@media screen and (max-width:768px) {
	.menu .right-menu {
		margin:0 5px;
	}	
	.menu .logo {
		margin:0 5px;
	}
	.menu {
		font-size:18px;
	}
	.card .card-info p {
		font-size: 25px;
	}
	.card .card-info span {
		font-size:15px;
	}
	#two h1 {
		font-size:35px;
	}
	#three h1 {
		font-size:35px;
	}
	#four h1 {
		font-size:35px;
	}
	#two img {
		margin-top: 20px;
	}
	#two .skills {
		overflow-x: hidden;
	}
	.avatar {
		width: 120px;
		height: 120px;
	}
	#three .services .project figcaption h2 {
		font-size: 1.2em;
	}
	#three .services .project figcaption p {
		font-size: 0.85em;
		margin-bottom: 10px;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
	#three .services .project {
		padding:25px;
	}
	#three .services .project figcaption h2 {
		font-size: 2em;
	}
	#three .services .project figcaption p {
		font-size: 1em;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
	#three .services .project {
		margin:25px;
	}
	#three .services .project figcaption h2 {
		font-size: 1.2em;
	}
	#three .services .project figcaption p {
		font-size: 0.8em;
	}
	#three .services .project figcaption .project_label {
		display: none;
	}
}

@media screen and (max-width:320px) {
	.menu .right-menu {
		margin:0 5px;
	}	
	.menu .logo {
		margin:0 5px;
	}
	.menu {
		font-size:18px;
	}
	.menu .logo span {
		display: none;
	}
	#two h1 {
		font-size:35px;
	}
	#three h1 {
		font-size:35px;
	}
	#four h1 {
		font-size:35px;
	}
	#four i {
		margin:0px 10px;
		padding:10px;
	}
	#two img {
		margin-top: 20px;
	}
	#two .skills {
		overflow-x: hidden;
	}
}