* {
	padding: 0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}

/* change scrollbar start */
html::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #1B2735;
}

html::-webkit-scrollbar {
	width: 10px;
	background-color: #1B2735;
}

html::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f1f4d8;
}
/* change scrollbar end */

#header {
	height: 100vh;
	background: radial-gradient(ellipse at center, #1B2735 0%, #090A0F 100%);
}

/* navbar menu start*/
.header-menu {
	display: flex;
	color:#fff;
	font-size: 20px;
	align-items: center;
}

.header-menu__logo {
	flex:1;
	margin:0 20px;
}

.header-menu__logo span {
	vertical-align: -5px;
}

.header-menu__items {
	margin:0 20px;
	padding-top: 5px;
}

.header-menu__items > a {
	padding:5px;
	color:#fff !important;
	text-decoration: none !important;
}

.header-menu__items > a:hover {
	cursor: pointer;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.header-menu__items > a:last-child {
	border:1px solid #fff;
	border-radius: 5px;
}

.header-menu__items > a:last-child:hover {
	background-color: #f1f4d8;
	color:#1a1a1a !important;
}
/* navbar menu end*/

/* card start */
.header-card {
	position: absolute;
	top: 50%;
	left: 50%;
	color:#fff;
	text-align: center;
	transform: translate(-50%, -50%);
}

.header-card .header-card__info p {
	font-size: 60px;
	margin: 5px 0;
}

.header-card .header-card__info span {
	font-size:25px;
	color:#f1f4d8;
	word-wrap:break-word;
}

.header-card__avatar {
	background-image: url('../img/avatar.jpg');
	width: 170px;
	height: 170px;
	background-size: cover;
	background-position: top center;
	border-radius: 50%;
	border: 3px solid #f1f4d8;
	margin: 0 auto;
}

.header-card__blinking-cursor {
	margin-left: 1px;
	font-size: 16px;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}
@keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: white;
	}
}
@-moz-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: white;
	}
}
@-webkit-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: white;
	}
}
@-ms-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: white;
	}
}
@-o-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: white;
	}
}

.header-card__arrow,
.header-card__arrow:before {
  position: absolute;
  left: 50%;
}
.header-card__arrow {
  width: 40px;
  height: 40px;
  top: 90%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  cursor: pointer;
}
.header-card__arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
/* card end */

/* technologies start */
#technologies {
	text-align: center;
	margin-bottom: 50px;
	overflow-x: hidden;
}
#technologies h1 {
	font-size:40px;
}
#technologies img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
}
/* technologies end */

/* projects start */
#projects {
	background-color: #17202c;
	color:#fff; 
	height:auto;
}

#projects h1 {
	padding-top: 40px;
	font-size:40px; 
	text-align:center;
}

.projects__items {
	padding:30px;
}

figure.projects__item-figure {
	color: #fff;
	background-color: #1a1a1a;
	color: #ffffff;
	text-align: left;
	margin-bottom: 50px;
	width: 100%;
	border-radius: 5px;
}

figure.projects__item-figure * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	border-radius: 5px;
}

figure.projects__item-figure img {
	max-width: 100%;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	vertical-align: top;
	opacity: 0.65;
}

figure.projects__item-figure figcaption {
	position: absolute;
	padding: 35px 20px;
	top: 0;
	left: 0;
}

figure.projects__item-figure h2, figure.projects__item-figure p {
	margin: 0;
	padding: 0;
}

figure.projects__item-figure h2 {
	margin-bottom: 10px;
	display: inline-block;
	font-weight: 100;
	font-size: 1.6em;
	text-shadow: #000 1px 1px 1px;
}

figure.projects__item-figure p {
	font-weight: 300;
	margin-bottom: 20px;
	font-size: 0.95em;
	text-shadow: #000 1px 1px 1px;
}

figure.projects__item-figure a {
	display: inline-block;
	padding: 10px 10px;
	border: 1px solid #ffffff;
	text-decoration: none;
	color: #ffffff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 0.8em;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
	opacity: 0;
}

figure.projects__item-figure a:hover {
	background-color: #f1f4d8;
	color:#1a1a1a;
}

figure.projects__item-figure:hover img {
	opacity: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.projects__item-figure:hover a {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

.projects__item-label {
	display: inline-block;
	border-radius: 5px;
	width: 40px;
	text-align: center;
	margin:0 5px 15px 0;
	color:#fff;
	text-shadow: #000 1px 1px 1px;
}

.projects__item-label:last-child {
	margin-right: 0px;
}

.projects__item-label.css {
	border-bottom: 2px solid #264de4;
}
.projects__item-label.scss {
	border-bottom: 2px solid #CD6799;
}
.projects__item-label.js {
	border-bottom: 2px solid #f7e018;
}
.projects__item-label.html {
	border-bottom: 2px solid #e34c26;
}
.projects__item-label.sql {
	border-bottom: 2px solid #0277bd;
}
.projects__item-label.php {
	border-bottom: 2px solid #787CB5;
}
.projects__item-label.cs {
	border-bottom: 2px solid #690080;
}
/* projects end */

/* contacts start */
#contacts {
	text-align: center;
	margin-top: 20px;
}

#contacts i {
	margin:0px 10px;
	padding:15px;
	border-radius: 5px;
}

#contacts .fa-vk {
	color:#fff;
	background: #45668e;
}

#contacts .fa-github-alt {
	color:#fff;
	background:#000;
}

#contacts .fa-envelope {
	color:#fff;
	background:#ca3737;
}

#contacts .copyright {
	font-size:18px;
	margin: 15px 0;
}

.fa-vk, .fa-github-alt, .fa-envelope:hover {
	cursor:pointer;
}
/* contacts end */

#arrow_up {
	position:fixed;
	z-index: 1;
	display:none;
	bottom:70px;
	right:-5px;
	cursor:pointer;
}

#arrow_up i {
	width: 50px;
	height: 50px;
	display:block;
	color: #000;
	background: #f1f4d8;
	opacity: .5;
	text-align:center;
	font-size:18px;
	line-height: 50px;
	border-radius: 5px;
	-webkit-transition:  .3s all;
		 -moz-transition:  .3s all;
			-ms-transition:  .3s all;
			 -o-transition:  .3s all;
					transition:  .3s all;
}

#arrow_up i:hover {
	opacity:inherit;
	border: 1px solid #000;
	-webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: bounce;
  animation-name: bounce;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@media screen and (max-width:768px) {
	.header-menu .header-menu__items {
		margin:0 5px;
	}	
	.header-menu .header-menu__logo {
		margin:0 5px;
	}
	.header-menu {
		font-size:18px;
	}
	.header-card .header-card__info p {
		font-size: 25px;
	}
	.header-card .header-card__info span {
		font-size:15px;
	}
	#technologies h1 {
		font-size:35px;
	}
	#projects h1 {
		font-size:35px;
	}
	#contacts h1 {
		font-size:35px;
	}
	#technologies img {
		margin-top: 20px;
	}
	#technologies .technologies__items {
		overflow-x: hidden;
	}
	.header-card__avatar {
		width: 120px;
		height: 120px;
	}
	#projects .projects__items .projects__item figcaption h2 {
		font-size: 1.2em;
	}
	#projects .projects__items .projects__item figcaption p {
		font-size: 0.85em;
		margin-bottom: 10px;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
	#projects .projects__items .projects__item {
		padding:25px;
	}
	#projects .projects__items .projects__item figcaption h2 {
		font-size: 2em;
	}
	#projects .projects__items .projects__item figcaption p {
		font-size: 1em;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
	#projects .projects__items .projects__item {
		margin:25px;
	}
	#projects .projects__items .projects__item figcaption h2 {
		font-size: 1.2em;
	}
	#projects .projects__items .projects__item figcaption p {
		font-size: 0.8em;
	}
	#projects .projects__items .projects__item figcaption .projects__item-label {
		display: none;
	}
}

@media screen and (max-width:320px) {
	.header-menu .header-menu__items {
		margin:0 5px;
	}	
	.header-menu .header-menu__logo {
		margin:0 5px;
	}
	.header-menu {
		font-size:18px;
	}
	.header-menu .header-menu__logo span {
		display: none;
	}
	#technologies h1 {
		font-size:35px;
	}
	#projects h1 {
		font-size:35px;
	}
	#contacts h1 {
		font-size:35px;
	}
	#contacts i {
		margin:0px 10px;
		padding:10px;
	}
	#technologies img {
		margin-top: 20px;
	}
	#technologies .technologies__items {
		overflow-x: hidden;
	}
}