@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'Open Sans', sans-serif; }

main {
  height: 100vh;
  padding: 20px 20px 0 20px; }
  main .title {
    display: flex;
    margin: 10px; }
    main .title a {
      background: #45bbcc; }
      main .title a:hover {
        background: #3ea8b7; }
    main .title .title__left {
      flex: 1; }

@media (max-width: 850px) {
  .content__left h6 {
    display: none; } }

@media (max-width: 600px) {
  .content__left h6 {
    display: block; }
  .title__right i {
    display: none; } }
