@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.navbar-custom {
  background-color: #252628;
  border-radius: 0;
  border-bottom: none;
  margin: 0;
}

.navbar-custom a {
  color: #fff;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #000;
  background-color: #d6ba32;
  transition: 0.4s all ease;
}

.navbar-custom button:hover {
  background: #d6ba32;
  color: #252628;
  transition: 0.5s all linear;
}

.navbar-custom .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-fixed-bottom {
  background-color: #252628;
  height: 60px;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  color: #fff;
}

.navbar-fixed-bottom a {
  text-decoration: none;
  color: #fff;
}

.navbar-fixed-bottom a:hover {
  text-decoration: none;
  color: #d6ba32;
  transition: 0.5s all linear;
}

.carousel {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.carousel-caption {
  padding-bottom: 250px;
  text-shadow: #d6ba32 0 0 2px;
}

.carousel-inner img {
  width: 100%;
}

.carousel-inner p {
  font-size: 18px;
  padding: 20px;
  color: #ffffff;
  animation: anim-P 1.6s ease-out;
}
@keyframes anim-H3 {
  from {
    opacity: 0;
    transform: translateX(-2000px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes anim-P {
  from {
    opacity: 0;
    transform: translateX(2000px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.content {
  text-align: center;
  padding: 20px;
}

.content .one {
  margin-top: 50px;
}

.content .two {
  margin-top: 200px;
}

.content .text-muted {
  margin-top: 10px;
}

.marks img {
  width: 20px;
  padding-right: 5px;
}

.marks {
  font-size: 14px;
  text-align: center;
}

.tasks_table {
  color: #fbfbfb;
  border-width: 1px;
  border-color: #686767;
  border-collapse: collapse;
  width: 100%;
  min-width: 300px;
}

.tasks_table th {
  font-size: 14px;
  background-color: #171515;
  border-width: 1px;
  padding: 6px;
  border-style: solid;
  border-color: #686767;
  text-align: left;
}

.tasks_table tr {
  background-color: #2f2f2f;
}

.tasks_table td {
  font-size: 14px;
  border-width: 1px;
  padding: 3px;
  border-style: solid;
  border-color: #686767;
  cursor: pointer;
}

.tasks_table .it:hover {
  background-color: #d6ba32;
  color: #000;
}

.content-main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  height: 87vh;
}

.content-main iframe {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 90vh;
  display: block;
}

.content button {
  outline: 0;
  background: #252628;
  width: 20%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin: 15px 0px 0px 0px;
  margin-bottom: 30px;
}

.content button:hover {
  background: #d6ba32;
  color: #252628;
  transition: 0.5s all linear;
}

.content-kotofei h2 {
  padding-bottom: 20px;
}

.content-kotofei p {
  padding-top: 20px;
  font-size: 15px;
}

.content-kotofei img {
  width: 30%;
  margin-top: 15px;
}

@media all and (max-width: 900px) {
  .carousel-inner p {
    font-size: 16px;
    padding: 10px;
  }
  .content-main iframe {
    width: 90%;
  }
  .carousel-inner img {
    width: 100%;
  }
  .tftable {
    width: 90%;
  }
  .tftable td {
    padding: 2px;
  }
  .tftable1 th {
    padding: 4px;
  }
  .tftable1 td {
    padding: 2px;
  }
  .content-kotofei img {
    width: 50%;
  }
}
@media all and (max-width: 768px) {
  .carousel-inner p {
    display: none;
  }
  .content-main iframe {
    width: 90%;
  }
  .content-main iframe {
    height: 350px;
  }
  .tftable {
    width: 90%;
  }
  .tftable td {
    padding: 2px;
  }
  .content-kotofei img {
    width: 50%;
  }
  .content button {
    width: 25%;
  }
  .tftable {
    margin-bottom: 70px;
  }
}
