* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
}

.header {
	width:100%;
	background:#303030;
	font-family: 'Georgia';
	font-style: italic;
	display: flex;
	flex-direction: row;
}

.header .logo {
	padding:10px;
	flex:1;
}

.header .logo h1, p {
	color:#fff;
}

.header .logo span {
	color:#ffcc00;
}

.header .bucket img {
	width:50px;
	height: 50px;
	padding:10px;
}


.header2 {
	width:100%;
	background:#ffcc00;
	font-family: 'Verdana';
	display: flex;
	flex-direction: row;
}

.header2 .menu nav li {
	list-style: none;
	padding:10px;
	display: inline-block;
}


.header2 .menu nav li a{
	color:#303030;
	text-decoration: none;
}

.content {
	width:100%;
	font-family: 'Verdana';
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.content .slider {
	margin:10px;
}

.content .slider img {
	margin-right:10px;
	width:100%;
	height: auto;
}

.content .product {
	margin: 10px;
	flex:1;
	text-align: center;
}

.content .product h1 {
	color:red;
}

.content .product h2 {
	color:#303030;
}

.content .product  p {
	color:#303030;
}

.content .product img {
	width:30%;
}

.content .product h4 {
	color:red;
	font-size:34px;
}

.content .product h3 {
	text-decoration:line-through;
	font-size:30px;
}

.content .product h3, h4 {
	display: inline-block;
	margin:15px;
}


.content-2 {
	width:100%;
	font-family: 'Verdana';
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.content-2 .popular {
	text-align: center;
	flex:1;
}

.content-2 .popular h1 {
	color:red;
}

.content-2 .popular p {
	color:#303030;
}

.popular img {
	width:20%;
	margin:40px;
}